input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gray_container {
    color: gray;
}

.container {
    padding-top: 7%;
    align-content: center;
}

.or {
    font-size: large;
    font-weight: bold;
    padding: 10%;
}

.form_heading {
    padding-top: 5%;
    padding-bottom: 5%;
}