input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bg {
    background-color: #EBF5CF;
}

.container {
    padding-top: 7%;
    align-content: center;
}

.container-2 {
    padding-left: 2%;
    padding-right: 2%;
    align-content: center;
}

.or {
    font-size: large;
    font-weight: bold;
    padding: 10%;
}

.card-main {
    background-color: #9BCB3C;
    border-radius: 30px;
    padding: 70px;
    margin: 20px;
}

.card-ledger {
    background-color: #9BCB3C;
    border-radius: 30px;
    padding: 70px;
    margin: 20px;
}

.form_heading {
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-primary {
    background-color: #00525B;
    border: 0;
}

.btn-primary:hover {
    background-color: #448086;
}

.pop-card {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}