{% extends 'base.html' %} {% block content %}
<div>
    {{bid}}
</div>

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-lg" role="button" href="">Create Ledger</a>
        <a class="btn btn-primary btn-lg" role="button" href="">Update Ledger</a>
        <a class="btn btn-primary btn-lg" role="button" href="">Download Ledger</a>
        <a class="btn btn-primary btn-lg" role="button" href="">View KYC</a>
    </div>
</div>


{% endblock %}