{% extends 'base.html' %} {% block content %} {% csrf_token %}



<div id="pop" class="pop-card ">

    <img src="/media/{{customer.pan}}" alt="aadhar" width="60%">
    <button onclick="hideAadhar()" type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="d-flex justify-content-center ">


    <div class="d-grid gap-3 card-main ">


        <div>
            <h1>Ledger Menu</h1>
            <h6>Booking Id - {{bid}}</h6>
            <h6>Name - {{ customer.cname }}</h6>
            <h6>Phone - {{ customer.phone }}</h6>
        </div>


        <div onclick="showAadhar()" class="btn btn-primary">View Aadhar</div>
        <a class="btn btn-primary btn-lg " role="button " href="/ ">View Pan</a>
        <a class="btn btn-primary btn-lg " role="button " href="/ ">Update Ledger</a>
    </div>
</div>





{% endblock %}