{% extends 'base.html' %} {% block content %} {% csrf_token %} {% if bid %}
<h1>Ledger Menu for booking id{{ bid }}</h1>



{% for each in customer %} Name - {{ each.pan }} Phone - {{ each.phone }} {% endfor %} {% else %}
<h1>Hey! You Forgot To Search For A Costomer...</h1>
{% endif %}
<div class="position-absolute top-50 start-50 translate-middle card-main">
    <div class="d-grid gap-3">
        <a class="btn btn-primary btn-lg" role="button" href="/">View Aadhar</a>
        <a class="btn btn-primary btn-lg" role="button" href="/">View Pan</a>
        <a class="btn btn-primary btn-lg" role="button" href="/">prin</a>
    </div>
</div>


{% endblock %}