{% extends 'base.html' %} {% block content %}


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% for msg in messages %}
<script>
    swal('{{ msg }}');
</script>

{% endfor %}



<div class="d-flex justify-content-center">
    <div class="card-main">


        <h3 class="form_heading">Create new Customer Id</h3>
        <form action="{% url 'saveform' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {{ form.media }} {{ form.as_p }}
            <div class="form-floating mb-4">
                <input type="name" class="form-control" name="cname" id="cname" placeholder="Name">
                <label class="text-dark" for="name">Name</label>
            </div>
            <div class="form-floating mb-4">
                <input type="number" class="form-control" name="phone" id="phone" placeholder="Phone No.">
                <label class="text-dark" for="bid">Phone No.</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Form</label>
                <input class="form-control" type="file" name="form" id="form">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Aadhar Card</label>
                <input class="form-control" type="file" name="aadhar" id="aadhar">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload Pan Card
                    <input class="form-control" type="file" name="pan" id="pan">
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>


    </div>
</div>



{% endblock %}